<%= render 'application/titlebar'%>
<div class="container-latest">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div class="contents">
      <div class="contents-container clearfix">
        <div class="layout-column-main">
          <h1 class="h1-global">
            <i class="fa fa-flash"></i>
            新着のストーリー</h1>
          <div class="story-list clearfix">
            <!-- ストーリーボックスの中身 -->
            <%= render 'latest/story-box'%>
            <!-- ストーリーボックスの中身 -->
          </div>
          <%= render 'layouts/pagenation' %>
          <%= render 'layouts/recommend'%>
        </div>
        <%= render 'latest/rightside' %>
      </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
