<div class="topbarwrapper">
  <%= render 'application/titlebar'%>
  <div data-is="categorybar-wrapper">
    <div class="categorybar">
      <div class="category-container">
        <div class="menu">
          <a class=" category__bg__after top" href="/"><span data-is="print" label="TOP">TOP</span></a>
          <a class=" category__bg__after latest" href="/latest"><span data-is="print" label="新着">新着</span></a>
          <a class=" category__bg__after legend" href="/legend"><span data-is="print" label="殿堂入り">殿堂入り</span></a>
          <a class=" category__bg__after love" href="/category/love"><span data-is="print" label="恋愛">恋愛</span></a>
          <a class=" category__bg__after marry" href="/category/marry"><span data-is="print" label="結婚">結婚</span></a>
          <a class=" category__bg__after study" href="/category/study"><span data-is="print" label="勉強">勉強</span></a>
          <a class=" category__bg__after work" href="/category/work"><span data-is="print" label="仕事">仕事</span></a>
          <a class=" category__bg__after newlife" href="/category/newlife"><span data-is="print" label="新生活">新生活</span></a>
          <a class=" category__bg__after trip" href="/category/trip"><span data-is="print" label="旅行">旅行</span></a>
          <a class=" category__bg__after sick" href="/category/sick"><span data-is="print" label="病気">病気</span></a>
          <a class=" category__bg__after dairy" href="/category/dairy"><span data-is="print" label="日常生活">日常生活</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div can_delivery_other="true" data-is="story-id-top" is_me="true">
      <div class="pankuzu">
        <div class="container">
          <a class="to-top" href="/">トップページ</a>
          <span>></span>
          <a class="category" href="">カテゴリ名</a>
        </div>
      </div>
      <div class="global-box">
        <div class="container">
          <div class="wall" style="background-image: url();">
                <% if user_signed_in? && current_user.id == @story.user_id %>
          <%= link_to '編集', "/storys/#{@story.id}/edit", method: :get, :style => "right: 115px;"%>
          <%= link_to '削除', "/storys/#{@story.id}", method: :delete, :style => "right: 65px;" %>
    <% end %>

          </div>
          <a class="read" href="/story">
            <div class="inner">
              <i class="fa fa-arrow-right"></i>
              続きを読む
            </div>
          </a>
          <div class="body">
            <p class="reading_time">1 min read</p>
            <a class="linked" href="/story/story_id">
              <h2 class="title" data-is="print" labal=""><%= @story.title %></h2>
              <div class="discription" style="padding: 0; margin-top: 10px; height: 40px; font-size: 14px; color: #807975;">
                <%= @story.text %>
              </div>
            </a>
            <div class="tags">
              <div class="announce">
                <i class="fa fa-plus"></i>
                <span>読者の方もタグを追加できるな機能を実装中です！</span>
              </div>
            </div>
            <div class="next_prev_stories clearfix">
              <div class="prev">
                <span>
                  <i class="fa fa-arrow-left"></i>
                  前編へ
                </span>
              </div>
              <div class="next"></div>
              <div class="next">
                <a href="/story/new?prev_id/">
                  続編を書く
                  <i class="fa fa-arrow-pencil"></i>
                </a>
              </div>
            </div>
            <%= render '/storys/social'%>
          </div>
        </div>
      </div>
    </div>
    <div class="contents">
      <div class="contents-container clearfix">
        <div class="layout-column-main">
          <div class="story-add-engagement">
            <h3 class="h3-global">みんなの読んで良かった！</h3>
            <div data-is="story-id-bookmark-form" >
              <div class = "inner" >
               <div class="icon"></div>
               <textarea>読んで良かったにコメントを添える...</textarea>
              </div>
                <%= render 'likes/like'%>
                <i class = "fa fa-star"> </i>
           </div>
          </div>
        </div>
        <div class="layout-column-right"><h2>bbbbbb</h2>  </div>
        <%= render 'layouts/recommend'%>
      </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
