<% @love.each do |category| %>
<div class="inner">
  <div category_name="恋愛" category_slug="love" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>恋愛のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box' %>
        </div>
          <%= link_to "恋愛のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
 <% end %>
</div>
<% @marriage.each do |category| %>
<div class="inner">
  <div category_name="結婚" category_slug="marriage" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>結婚のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box2' %>
        </div>
          <%= link_to "結婚のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @study.each do |category| %>
<div class="inner">
  <div category_name="勉強" category_slug="study" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>勉強のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box3' %>
        </div>
          <%= link_to "勉強のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @job.each do |category| %>
<div class="inner">
  <div category_name="仕事" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>仕事のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box4' %>
        </div>
          <%= link_to "仕事のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @newlife.each do |category| %>
<div class="inner">
  <div category_name="新生活" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>新生活のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box5' %>
        </div>
          <%= link_to "新生活のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @travel.each do |category| %>
<div class="inner">
  <div category_name="旅行" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>旅行のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box6' %>
        </div>
          <%= link_to "旅行のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @sick.each do |category| %>
<div class="inner">
  <div category_name="病気" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>病気のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box7' %>
        </div>
          <%= link_to "病気のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% @everydaylife.each do |category| %>
<div class="inner">
  <div category_name="日常生活" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>日常生活のストーリー</h1>
        <div class="story-list clearfix">
           <%= render 'application/genre_story-box8' %>
        </div>
          <%= link_to "日常生活のストーリー一覧", category_path(category.category_id), class: "catebtn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>