<div class="ajax-index-category">
  <div category_name="カタリエ" category_slug="katarie" class="katarie-wrapper" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>カタリエのストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/katarie">
          <i class="fa-arrow-circle-right fa"></i>
          カタリエのストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="恋愛" category_slug="love" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>恋愛のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/love">
          <i class="fa-arrow-circle-right fa"></i>
          恋愛のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="結婚" category_slug="marry" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>結婚のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/marry">
          <i class="fa-arrow-circle-right fa"></i>
          結婚のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="勉強" category_slug="study" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>勉強のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/study">
          <i class="fa-arrow-circle-right fa"></i>
          勉強のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="仕事" category_slug="work" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>仕事のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/work">
          <i class="fa-arrow-circle-right fa"></i>
          仕事のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="新生活" category_slug="newlife" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>新生活のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/newlife">
          <i class="fa-arrow-circle-right fa"></i>
          新生活のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="旅行" category_slug="trip" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>旅行のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/trip">
          <i class="fa-arrow-circle-right fa"></i>
          旅行のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="病気" category_slug="sick" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>病気のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/sick">
          <i class="fa-arrow-circle-right fa"></i>
          病気のストーリー一覧
        </a>
      </div>
    </div>
  </div>
  <div category_name="日常生活" category_slug="dairy" data-is="pages-index-bottom-category">
    <div class="inner">
      <div class="ajax-container">
        <h1>日常生活のストーリー</h1>
        <div class="story-list clearfix">
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
          <%= render 'application/story-box'%>
        </div>
        <a href="/category/dairy">
          <i class="fa-arrow-circle-right fa"></i>
          日常生活のストーリー一覧
        </a>
      </div>
    </div>
  </div>
</div>
