<% @travels.each do |travel| %>
 <div class="story-box">
  <%= link_to "", story_path(travel),class: 'wall', style: "background-image: url(https://img.sty.fun/t/uploads/user/wall/5126/cc0ee168.jpeg);"%>
  <div class="category__name">
    <div data-is="print" class="category__label" label="<%= travel.category.name %>" style="background-color: <%= travel.category.color %>;"><%= travel.category.name %>
    </div>
  </div>
  <%= link_to(story_path(travel), class: 'wrapper') do %>
    <div class="top clearfix">
      <div class="leftside">
        <div class="leftside__image" style="background-image: url(https://graph.facebook.com/727353672/picture?width=400&amp;height=400);"></div>
      </div>
      <div class="right-area">
        <div class="right-user">
          <div class="story-name" data-is="print" label="user_name"><%= travel.user.name %></div>
        </div>
        <div class="reading-time">4 min read</div>
        <div class="right-area clearfix"></div>
        <h3 class="topic">
          <span><p><%= travel.title %></p></span>
        </h3>
      </div>
    </div>
    <div class="story-discription">
      <div class="etc-reader">
        <p><%= travel.text %></p>
      </div>
    </div>
    <div>
      <div data-is="story-box-users" bookmark_counter="22">
        <div class="users-wrapper">
          <div class="likes-text">
            <div class="likes-count" data-is="print" label="人の"><%= travel.likes_count %>人の</div>
            <div class="sub_text">読んでよかった！！</div>
          </div>
        </div>
      </div>
      <div data-is="story-box-comment">
        <div class="users-wrapper clearfix">
          <div class="leftside">
            <div class="leftside__image" style="background-image: url(https://graph.facebook.com/100002151358967/picture?width=400&amp;height=400);" title="内藤 涼子"></div>
          </div>
          <div class="story-box__body">
            <div class="story-box__inner" data-is="print" label=""></div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
