<%= render 'application/titlebar'%>
<div class="container-latest">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div class="category-bar" id="category-wall">
      <div class="bar">
        <img src="https://storys.jp/images/category/%E5%8B%89%E5%BC%B7.jpg" alt="勉強">
        <p>勉強</p>
      </div>
    </div>
    <div class="main-contents">

      <div class="contents-container clearfix">


        <div class="layout-column-main">
          <div class="order-main">
            <div class="order-menus">
              <a href="/">
                <span data-is="raw" content="人気">人気</span>
              </a>
              <a href="/">
                <span data-is="raw" content="新着">
                  <%= link_to '新着', "/category/study/newest" %>
                </span>

              </a>
              <a class="active" href="/">
                <span data-is="raw" content="昔の投稿">昔の投稿</span>
              </a>
            </div>
          </div>

          <div class="story-list clearfix">
            <!-- ストーリーボックスの中身 -->
            <%= render 'study/study-story-box'%>
            <!-- ストーリーボックスの中身 -->
          </div>
          <%= render 'layouts/study-pagenation' %>
          <%= render 'layouts/recommend'%>
        </div>
          <div class="all-count">
            全 <span> 000 </span> ストーリー
          </div>
          <%= render 'latest/rightside' %>
        </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
