<div class="topbarwrapper">
  <%= render 'application/titlebar'%>
  <div data-is="categorybar-wrapper">
    <div class="categorybar">
      <div class="category-container">
        <div class="menu">
          <a class=" category__bg__after top" href="/"><span data-is="print" label="TOP">TOP</span></a>
          <a class=" category__bg__after latest" href="/latest"><span data-is="print" label="新着">新着</span></a>
          <a class=" category__bg__after legend" href="/legend"><span data-is="print" label="殿堂入り">殿堂入り</span></a>
          <a class=" category__bg__after love" href="/category/love"><span data-is="print" label="恋愛">恋愛</span></a>
          <a class=" category__bg__after marry" href="/category/marry"><span data-is="print" label="結婚">結婚</span></a>
          <a class=" active category__bg__after study" href="/category/study"><span data-is="print" label="勉強">勉強</span></a>
          <a class=" category__bg__after work" href="/category/work"><span data-is="print" label="仕事">仕事</span></a>
          <a class=" category__bg__after newlife" href="/category/newlife"><span data-is="print" label="新生活">新生活</span></a>
          <a class=" category__bg__after trip" href="/category/trip"><span data-is="print" label="旅行">旅行</span></a>
          <a class=" category__bg__after sick" href="/category/sick"><span data-is="print" label="病気">病気</span></a>
          <a class=" category__bg__after dairy" href="/category/daily"><span data-is="print" label="日常生活">日常生活</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-latest">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div class="category-bar" id="category-wall">
      <div class="bar">
        <img src="https://storys.jp/images/category/%E5%8B%89%E5%BC%B7.jpg" alt="勉強">
        <p>勉強</p>
      </div>
    </div>
    <div class="main-contents">

      <div class="contents-container clearfix">


        <div class="layout-column-main">
          <div class="order-main">
            <div class="order-menus">
              <a href="/">
                <span data-is="raw" content="人気">人気</span>
              </a>
              <a href="/">
                <span data-is="raw" content="新着">
                  <%= link_to '新着', "/category/study/newest" %>
                </span>

              </a>
              <a class="active" href="/">
                <span data-is="raw" content="昔の投稿">昔の投稿</span>
              </a>
            </div>
          </div>

          <div class="story-list clearfix">
            <!-- ストーリーボックスの中身 -->
            <%= render 'study/study-story-box'%>
            <!-- ストーリーボックスの中身 -->
          </div>
          <%= render 'layouts/study-pagenation' %>
          <%= render 'layouts/recommend'%>
        </div>
          <div class="all-count">
            全 <span> 000 </span> ストーリー
          </div>
          <%= render 'latest/rightside' %>
        </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
