<%= render 'application/titlebar'%>
<div class="container-latest">
  <%= render 'application/toolbar'%>
  <div class="main">
    <div class="category-bar" id="category-wall">
      <div class="bar">
        <img src="https://storys.jp/images/category/%E6%81%8B%E6%84%9B.jpg" alt="恋愛">
        <p>恋愛</p>
      </div>
    </div>
    <div class="main-contents">

      <div class="contents-container clearfix">


        <div class="layout-column-main">
          <div class="order-main">
            <div class="order-menus">
              <a href="/">
                <span data-is="raw" content="人気">人気</span>
              </a>
              <a href="/">
                <span data-is="raw" content="新着">
                  <%= link_to '新着', "/category/love/newest" %>
                </span>

              </a>
              <a class="active" href="/">
                <span data-is="raw" content="昔の投稿">昔の投稿</span>
              </a>
            </div>
          </div>

          <!-- <h1 class="h1-global">
            <i class="fa fa-flash"></i>
            新着のストーリー</h1> -->


          <div class="story-list clearfix">
            <!-- ストーリーボックスの中身 -->
            <%= render 'love/love-story-box'%>
            <!-- ストーリーボックスの中身 -->
          </div>
          <%= render 'layouts/love-pagenation' %>
          <%= render 'layouts/recommend'%>
        </div>
          <div class="all-count">
            全 <span> 000 </span> ストーリー
          </div>
          <%= render 'latest/rightside' %>
        </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>






<!-- <div class="category-all">
  <%= render 'application/toolbar'%>
  <div class="main-disp"> -->

 <!--    <div data-is="write-field">
      <div class="write-field-container">
      </div>
    </div>

    <div class="category-bar">
      <div class="bar">
        <img src="https://storys.jp/images/category/%E6%81%8B%E6%84%9B.jpg" alt="恋愛">
        <p>恋愛</p>
      </div>
    </div>

    <div class="contents">
      <div class="sub-menu">
        <div class="order-main">
          <div class="order-menus">
            <a class="active" href="">
              <span content="人気">人気</span>
            </a>
            <a href="">
              <span content="新着">新着</span>
            </a>
            <a href="">
              <span content="昔の投稿">昔の投稿</span>
            </a>
          </div>
        </div>
      </div>
      <div class="contents-box clearfix">
        <div class="layout-column-main">
          <div class="story-list clearfix">

          </div>
        </div>
        <div class="layout-column-right">
          <div class="all_count">
            全
            <span>000</span>
            ストーリー
          </div>
          <div class="ad">広告
          </div> -->
 <!--            <%= render 'application/ranking' %>
        </div>
      </div>
    </div>
    <%= render 'application/footer' %>
  </div>
</div>
 -->
